.principal-login{
  height: 100%;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  background-color: #111;
}

.card-login{
  border: 2px solid blue;
  height: 60%;
  width: 60%;
  max-width: 60%;
  min-width: 60%;
  border-radius: 5px;


  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

}

.card-login-area{
  display: flex;
  flex-direction: column;
}

.card-login-area input{
  width: 60%;
  border: 1px solid blue;
  background-color: #111;
}

.card-login-area button{
  width: 20%;
  height: 4%;
  border-radius: 2px;
  background-color: blue;
  color: white;
}
