
.principal-login{
  height: 100%;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  background-color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-login{

  height: 60%;
  max-height: 60%;
  min-height: 60%;
  width: 60%;
  max-width: 60%;
  min-width: 60%;
  border-radius: 5px;


  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

 align-items: center;


  background: rgba(48, 49, 51, 0.03);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.7px);
  -webkit-backdrop-filter: blur(8.7px);
  border: 1px solid rgba(48, 49, 51, 0.58);
}

.card-login-area{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-text{
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  height: 100%;
  min-height: 100%;
  max-height: 100%;

  width: 100%;
  min-width: 100%;
  max-width: 100%;

  background: rgba(29, 73, 174, 0.67);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.7px);
  -webkit-backdrop-filter: blur(8.7px);
  border: 1px solid rgba(29, 73, 174, 0.31);
}

.text-login{
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;

  margin-bottom: 5%;

}

.principal-text{
  color: white;
  font-size: 25px;
  margin-bottom: 5%;
}

.subtext{
  color: white;
  font-size: 14px;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;

  width: 90%;
  min-width: 90%;
  max-width: 90%;


}



.input-container {

  display: flex;

  position: relative;

  margin-left: 15%;
  margin-bottom: 5%;

  width: 100%;

}

input[type="text"] {
  width: 80%;
  padding: 10px 10px 10px 5px;
  background: none;
  border: none;
  border-bottom: 1px solid #757575;
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #ffffff;
}

input[type="text"]:focus {
  outline: none;
  color: #ffffff;
}

input[type="text"]:focus ~ .placeholder,
input[type="text"]:valid ~ .placeholder {
  top: -20px;
  left: 0;
  font-size: 14px;
  color: #757575;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



input[type="password"] {
  width: 80%;
  padding: 10px 10px 10px 5px;
  background: none;
  border: none;
  border-bottom: 1px solid #757575;
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #ffffff;
}

input[type="password"]:focus {
  outline: none;
  color: #ffffff;
}

input[type="password"]:focus ~ .placeholder,
input[type="password"]:valid ~ .placeholder {
  top: -20px;
  left: 0;
  font-size: 14px;
  color: #757575;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.placeholder {
  position: absolute;
  top: 10px;
  left: 5px;
  font-size: 18px;
  color: #999;
  transition: 0.2s ease all;
  pointer-events: none;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.loginButton{

  border-radius: 5px;

  color: white;

  height: 30%;
  min-height: 30%;
  max-height: 30%;
  width: 30%;
  min-width: 30%;
  max-width: 30%;

  margin-top: 10%;


  background: rgba(29, 73, 174, 0.67);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.7px);
  -webkit-backdrop-filter: blur(8.7px);
  border: 1px solid rgba(29, 73, 174, 0.31);

}
