<app-site-header></app-site-header>

<div class="principal-login">

  <div class="card-login">
    <div class="card-text">
      <p>SUPORTE E INVENTARIO</p>
    </div>
    <div class="card-login-area">

      <p class="text-login">Insert your credentials</p>

      <div class="input-container">
        <input type="text" id="inputField" required />
        <label for="" class="placeholder">Name</label>
      </div>

      <div class="input-container">
        <input type="password" id="inputField" required />
        <label for="" class="placeholder">Password</label>
      </div>

      <button type="submit" class="loginButton">LOGIN</button>
    </div>
  </div>
</div>

