<app-site-header></app-site-header>

<div class="principal-login">

  <div class="card-login">
    <div class="card-text">
      <p class="principal-text">Welcome to Suporte e Inventario</p>

      <p class="subtext">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultrices est nec tincidunt vestibulum.</p>
      <p class="subtext"> Aenean auctor, tellus vitae sollicitudin eleifend, nisi sapien hendrerit sapien, sit amet pulvinar libero tellus nec lacus. Nulla euismod, tortor eu tempus fermentum, metus nulla lobortis ipsum, ut cursus quam leo quis massa.</p>
    </div>
    <div class="card-login-area">

      <p class="text-login">Insert your credentials</p>

      <div class="input-container">
        <input type="text" id="inputField" required />
        <label for="" class="placeholder">Name</label>
      </div>

      <div class="input-container">
        <input type="password" id="inputField" required />
        <label for="" class="placeholder">Password</label>
      </div>

      <button type="submit" class="loginButton">LOGIN</button>
    </div>
  </div>
</div>

