<app-site-header></app-site-header>

<div class="principal-services">
    <div class="principal-cards">
        <div class="cards">
            <img src="https://th.bing.com/th/id/OIP.26vJRQYcw2z-8KBeQjxXSwHaFC?w=500&h=340&rs=1&pid=ImgDetMain" alt="">

            <p>Help Desk Tickets</p>

            <hr>

            <section>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nulla at volutpat diam ut venenatis. Ultricies lacus sed turpis tincidunt id. Est placerat in egestas erat imperdiet sed. Est ullamcorper eget nulla facilisi. Lectus nulla at volutpat diam ut.</section>


        </div>
        <div class="cards">
            <img src="https://www.itarian.com/images/itsm/it-inventory-management-software.png" alt="">

            <p>Inventory Control</p>

            <hr>

            <section>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nulla at volutpat diam ut venenatis. Ultricies lacus sed turpis tincidunt id. Est placerat in egestas erat imperdiet sed. Est ullamcorper eget nulla facilisi. Lectus nulla at volutpat diam ut.</section>

        </div>
        <div class="cards">
            <img src="https://www.egnyte.com/sites/default/files/inline-images/The%20expansion%20of%20cloud%20applications%20has%20added%20to....png" alt="">

            <p>User management</p>

            <hr>

            <section>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nulla at volutpat diam ut venenatis. Ultricies lacus sed turpis tincidunt id. Est placerat in egestas erat imperdiet sed. Est ullamcorper eget nulla facilisi. Lectus nulla at volutpat diam ut.</section>
        </div>
    </div>
</div>
