.header{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  margin: 0;
  padding: 0;
  height: 10%;
  max-height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  background-color: rgb(4, 4, 167);

  border-radius: 3px;
}

/* app.component.css */
/* app.component.css */
.dropdown {
  position: relative;
  display: inline-block;
}

#myLinks {
  display: none;
  position: absolute;
  background-color: #0609a1;
  min-width: 20%;
  min-height: 15%;
  margin-left: 40%;
  margin-top: 3%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  justify-content: center;
  text-align: center;
}

#myLinks a {
  color: rgb(255, 255, 255);
  padding: 20px 20px;
  text-decoration: none;
  display: block;
}

#myLinks a:hover {
  background-color: #385fdf;
}

#myLinks.show {
  display: block;
}

#myLinks.hide {
  display: none;
}
