<div class="principal-about">
  <div class="principal-image">
    <img src="https://th.bing.com/th/id/OIG2.ycu.Pw9l9gEe6L2Zjrbx?pid=ImgGn" alt="">

    <p>ABOUT US</p>
  </div>
  <div class="about-text">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec interdum diam. Nam vitae urna leo. Nulla facilisi. Quisque vel dui a sapien pellentesque consectetur non et diam. Maecenas porta, diam porta placerat placerat, quam felis feugiat purus, vitae condimentum mauris ligula non neque. Fusce facilisis sagittis imperdiet. Nullam ut lectus venenatis orci ornare tincidunt a id metus.

      Curabitur eget lectus molestie, hendrerit ligula et, euismod augue. Nunc nec feugiat orci. Suspendisse ut laoreet est. Nulla lorem sapien, semper non neque eget, congue porttitor nunc. Mauris libero turpis, posuere a est non, molestie lacinia velit. Etiam faucibus quam sit amet iaculis finibus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec vel luctus mi. Aenean eget dolor augue. Cras ac dui vitae leo cursus mollis. Fusce ac ipsum sed dolor sagittis viverra.</p>
  </div>
</div>
