<div class="initial-admin">
    <p class="helloText">Hello John Doe</p>

    <div class="configCards">
        <div class="cards">
            <img src="" alt="">

            <p>Edit Profile</p>

            <hr>

            <p></p>
        </div>
        <div class="cards">
            <img src="" alt="">

            <p>Manage Users</p>

            <hr>

            <p></p>

        </div>
        <div class="cards">

            <img src="" alt="">

            <p>Inventory</p>

            <hr>

            <p></p>

        </div>
        <div class="cards">

            <img src="" alt="">

            <p></p>

            <hr>

            <p></p>

        </div>
    </div>


</div>