<div class="initial-admin">

    <p class="helloText">Hello John Doe</p>

    <div class="config-cards">
        <div class="cards">
            <img src="https://cdn-icons-png.flaticon.com/512/9203/9203764.png" alt="">

            <p class="card-title">Edit Profile</p>

            <hr>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Id interdum velit laoreet id donec ultrices tincidunt arcu non. Tortor consequat id porta nibh venenatis cras sed felis eget. Metus dictum at tempor commodo ullamcorper a.</p>
            
            <button class="button-redirect" (click)="redirect()">Go to Page</button>
        </div>
        <div class="cards">
            <img src="https://cdn0.iconfinder.com/data/icons/user-icons-4/100/user-28-512.png" alt="">

            <p class="card-title">Manage Users</p>

            <hr>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Id interdum velit laoreet id donec ultrices tincidunt arcu non. Tortor consequat id porta nibh venenatis cras sed felis eget. Metus dictum at tempor commodo ullamcorper a.</p>

            <button class="button-redirect" (click)="redirect()">Go to Page</button>
        </div>
        <div class="cards">

            <img src="https://cdn-icons-png.flaticon.com/512/12646/12646357.png" alt="">

            <p class="card-title">Inventory</p>

            <hr>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Id interdum velit laoreet id donec ultrices tincidunt arcu non. Tortor consequat id porta nibh venenatis cras sed felis eget. Metus dictum at tempor commodo ullamcorper a.</p>

            <button class="button-redirect" (click)="redirect()">Go to Page</button>
        </div>
        <div class="cards">

            <img src="https://cdn2.iconfinder.com/data/icons/flaturici-set-4/512/ticket-256.png" alt="">

            <p class="card-title">Tickets History</p>

            <hr>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Id interdum velit laoreet id donec ultrices tincidunt arcu non. Tortor consequat id porta nibh venenatis cras sed felis eget. Metus dictum at tempor commodo ullamcorper a.</p>


            <button class="button-redirect" (click)="redirect()">Go to Page</button>
        </div>
    </div>


</div>