<app-site-header></app-site-header>

<div class="principal-ticket">

  <div class="input-container">
    <input type="text" id="inputField" required />
    <label for="inputField" class="placeholder">Name</label>
  </div>


  <div class="input-container">
    <input type="text" id="inputField" required />
    <label for="inputField" class="placeholder">Phone</label>
  </div>

  <div class="input-container">
    <input type="text" id="inputField" required />
    <label for="inputField" class="placeholder">Email</label>
  </div>

  <div class="input-container">
    <input type="text" id="inputField" required />
    <label for="inputField" class="placeholder">Description</label>
  </div>

  <div class="buttonTicket">
    <button class="sendButton" type="submit">Send</button>
  </div>


</div>
