<div id="sidebar" class="sidebar" [class.active]="isSidebarOpen">
  <button (click)="closeSidebar()"><img id="buttonCloseSidebar" src="https://cdn-icons-png.flaticon.com/512/5093/5093116.png" alt="arrowSidebarMenu"></button>
  <a href="/tickets">Tickets</a>
  <a href="/inventory">Inventory</a>
</div>
<div class="content">
  <button (click)="toggleSidebar()" id="buttonToggleSidebar"><img id="openSidebar" src="https://cdn-icons-png.flaticon.com/512/5093/5093116.png" alt="arrowOpenSidebarMenu"></button>
</div>
