.big-card{

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    height: 100%;

    background-color: #111;

}

#card-title{
  display: flex;
  flex-direction: column;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  color: white;
}

#card-title h3{
  font-size: 35px;
  margin-bottom: 5%;

}

#card-title p{
  font-size: 15px;
  margin-left: 5%;
}

.cards{
  height: 100%;
  min-height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

}

.cards img {
  height: 60%;
  width: 80%;

}
