<div class="big-card">
  <div class="cards" id="card-title">
    <h3>SUPORTE E INVENTARIO</h3>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam nec tempor augue. Ut nisl sapien, blandit eu nibh nec, blandit egestas elit. Cras volutpat tristique congue. Vestibulum consequat tellus eu risus sollicitudin, vitae consequat arcu viverra. Mauris aliquet sed ipsum nec convallis. Integer vitae leo blandit, convallis est a, gravida ipsum. Vestibulum sed neque neque. Integer urna nunc, auctor id orci id, suscipit aliquet urna. Sed consectetur mauris nibh, a varius justo dapibus quis.

      Phasellus aliquet lorem eu orci ornare, a tempor purus pretium. Fusce posuere, libero vitae tincidunt porttitor, felis tortor gravida purus, nec vehicula risus libero non sapien. Maecenas tincidunt ut mi et eleifend. Quisque sed sollicitudin est. Ut elementum finibus aliquam. Fusce pulvinar nunc eu sapien elementum, a rutrum nisi bibendum. Aliquam laoreet tincidunt arcu eget lacinia. Suspendisse dignissim venenatis sapien, vitae venenatis ante varius in. Praesent varius tellus et neque ullamcorper eleifend. Sed pulvinar mollis neque vehicula egestas.</p>
  </div>
  <div class="cards">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-91AARwuSa3F_Z-lvFeVU30cDi1cUVA706Q&s" alt="">
  </div>
</div>
