.card-inventory{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  width: 80%;
  max-width: 80%;
  min-width: 80%;

  margin-left: 10%;
  margin-right: 10%;

  background-color: white;

  border: 2px solid black;
  border-radius: 5px;

  justify-items: center;
}

.info{
  width:6%;
  height: 90%;
}
