
.card-inventory{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  width: 80%;
  max-width: 80%;
  min-width: 80%;

  margin-left: 10%;
  margin-right: 10%;

  background-color: white;

  border: 2px solid black;
  border-radius: 5px;

  justify-items: center;

  z-index: 1;

      /* From https://css.glass */
background: rgba(49, 49, 49, 0.19);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(13.3px);
-webkit-backdrop-filter: blur(13.3px);
border: 1px solid rgba(49, 49, 49, 0.6);

color: white;
  

}

.info{
  width:6%;
  height: 90%;
}

.generalCard{
  z-index: 2;

  background-color: white;

  border: 2px solid black;
  border-radius: 5px;

  height: 90%;
  min-height: 90%;
  max-height: 90%;
  
  width: 80%;
  max-width: 80%;
  min-width: 80%;

  margin-left: 10%;
  margin-right: 10%;

  
  position: absolute;

      /* From https://css.glass */
background: rgba(49, 49, 49, 0.19);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(13.3px);
-webkit-backdrop-filter: blur(13.3px);
border: 1px solid rgba(49, 49, 49, 0.6);
  

}


