<div class="principal-ticket">
  <div class="info">

    <div class="num-ticket">
      <p >#0001</p>
    </div>


    <p class="ticket-name">John Doe</p>

    <p class="ticket-phone">(55) 9999-9999</p>

    <p class="ticket-desc">Computador não está funcionando</p>

  </div>

  <div class="info">
    <p class="num-ticket">#0001</p>

    <p class="ticket-name">John Doe</p>

    <p class="ticket-phone">(55) 9999-9999</p>

    <p class="ticket-desc">Computador não está funcionando</p>

  </div>

  <div class="info">
    <p class="num-ticket">#0001</p>

    <p class="ticket-name">John Doe</p>

    <p class="ticket-phone">(55) 9999-9999</p>

    <p class="ticket-desc">Computador não está funcionando</p>

  </div>

  <div class="info">
    <p class="num-ticket">#0001</p>

    <p class="ticket-name">John Doe</p>

    <p class="ticket-phone">(55) 9999-9999</p>

    <p class="ticket-desc">Computador não está funcionando</p>

  </div>

  <div class="info">
    <p class="num-ticket">#0001</p>

    <p class="ticket-name">John Doe</p>

    <p class="ticket-phone">(55) 9999-9999</p>

    <p class="ticket-desc">Computador não está funcionando</p>

  </div>

  <div class="info">
    <p class="num-ticket">#0001</p>

    <p class="ticket-name">John Doe</p>

    <p class="ticket-phone">(55) 9999-9999</p>

    <p class="ticket-desc">Computador não está funcionando</p>

  </div>
</div>
