
<img class="return" src="https://cdn-icons-png.flaticon.com/512/959/959160.png" alt="returnAllCards" (click)="closeCard()">
  
<div class="div-info">
  <p>User:</p>
  <label for="" class="user-label">John Doe</label>
  
</div>


<div class="div-info">
  <p>Serial Number:</p>

  <label for="" class="serial-number-label">A1A1A1A1</label>
</div>

<div class="div-info">
    <p>Type: </p>

    <label for="" class="type-label">Desktop</label>

    <p>Model: </p>

    <label for="" class="model-label"> Lenovo Thinkpad</label>
</div>

<div class="div-info">
  <p>MAC Address: </p>

  <label for="" class="mac-address-label">Q9:Q9:Q9:Q9</label>
</div>

<div class="div-info">

  <p>Date: </p>

  <label for="" class="date-inventory">14/07/2024</label>

</div>

