<div class="principal-forms">
  <form class="forms-support" action="">

    <div class="input-container">
      <input type="text" id="inputField" required />
      <label for="" class="placeholder">Name</label>
    </div>

    <div class="input-container">
      <input type="text" id="inputField" required />
      <label for="inputField" class="placeholder">Email</label>
    </div>

    <div class="input-container">
      <input type="text" id="inputField" required >
      <label for="inputField" class="placeholder">How can we help you ?</label>
    </div>

  </form>
</div>
