

.forms-support{
  display: flex;
  flex-direction: column;

}

.input-container {

  display: flex;

  position: relative;
  margin: 20px 0;

  width: 100%;

}

input[type="text"] {
  width: 80%;
  padding: 10px 10px 10px 5px;
  background: none;
  border: none;
  border-bottom: 1px solid #757575;
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #ffffff;
}

input[type="text"]:focus {
  outline: none;
  color: #ffffff;
}

input[type="text"]:focus ~ .placeholder,
input[type="text"]:valid ~ .placeholder {
  top: -20px;
  left: 0;
  font-size: 14px;
  color: #757575;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.placeholder {
  position: absolute;
  top: 10px;
  left: 5px;
  font-size: 18px;
  color: #999;
  transition: 0.2s ease all;
  pointer-events: none;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sendButton{
  background: rgba(25,85,140,1);
  background: -moz-linear-gradient(left, rgba(25,85,140,1) 12%, rgba(27,93,159,1) 31%, rgba(32,124,229,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(12%, rgba(25,85,140,1)), color-stop(31%, rgba(27,93,159,1)), color-stop(100%, rgba(32,124,229,1)));
  background: -webkit-linear-gradient(left, rgba(25,85,140,1) 12%, rgba(27,93,159,1) 31%, rgba(32,124,229,1) 100%);
  background: -o-linear-gradient(left, rgba(25,85,140,1) 12%, rgba(27,93,159,1) 31%, rgba(32,124,229,1) 100%);
  background: -ms-linear-gradient(left, rgba(25,85,140,1) 12%, rgba(27,93,159,1) 31%, rgba(32,124,229,1) 100%);
  background: linear-gradient(to right, rgba(25,85,140,1) 12%, rgba(27,93,159,1) 31%, rgba(32,124,229,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#19558c', endColorstr='#207ce5', GradientType=1 );

  color: white;

  font-size: 16px;

  border-radius: 4px;

  width: 10%;
  min-width: 10%;
  max-width: 10%;
}

